
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 24px;
  background-color: $white;
  // width: 250px;
  // height: 400px;


  // transition: transform $time-transition;

  @media screen and (min-width:320px) and (max-width:1199px) {
      width: 450px;
      height: 637px;
  }

  @include for-size(desktop) {
      width: 528px;
      height: 690px;
  }



}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}


.title-modal {
  // margin: 0;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-title-color;
  // padding-top: 30px;


  @media screen and (min-width:320px) and (max-width:1199px) {
      font-size: 34px;
  }

  @include for-size(desktop) {
    font-size: 58px;
    letter-spacing: 0.06em;
  
  }
}

.modal-list {
  @extend %list;
  
  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }
  
}
.modal-product-item {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 24px;

}

.icecream-item { 
  background-color:$alternate-overlay-decor-color;
}

.icecoffee-item {
  background-color: $primary-overlay-decor-color;
}

.milkshakes-item {
  background-color: $secondary-overlay-decor-color;
}

.title-modal-product {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  color: $white;
}

.label-modal {
  display: block;
  // margin-left: 50px;
}

.input-modal {
  display: block;
  
}

.modal-form-container {
  margin-left: 50px;
  margin-bottom: 10px;
}

.label-modal {
  color: $white;
  margin-bottom: 5px;

}

.close-btn {
  position: absolute;
  display: inline-block;
  right: 8px;
  top: 8px;
  background-color: $white;
  /* border: 0; */
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  fill: $primary-title-color;

  &:hover .close-icon {
      fill: $secondary-accent-color;
  }
}


.close-icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 18px;
  // fill: $primary-title-color;

  // height: 18px;
  // transition: fill $time-transition;
}

.price {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.border-line {
  border-top: 1px solid #E1E1E1;
}

.modal-button-pay {
  display: inline-block;
  width: 80%;
  height: 50px;
  display: block;
  background: #D41342;
  border-radius: 22px;
  margin: 0 auto;
  margin-bottom: 25px;

}

.modal-pay-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  border: none;
  color: $white;

  text-transform: uppercase;
}