@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.contacts-icon-link, .item-icon, .passion-text, .homemade-text {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.04em;
  margin: auto;
  min-width: 300px;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.manufacture {
  background-color: #fff5f6;
  background-image: url(/manufacture-bg.1b3475d8.png);
  background-size: 320px 133px;
  background-repeat: no-repeat;
  background-position-y: 49.4%;
  background-position-x: center;
  padding-bottom: 145px;
  padding-top: 125px;
}
@media screen and (min-width: 768px) {
  .manufacture {
    background-image: none;
    padding-bottom: 242px;
    padding-top: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .manufacture {
    padding-bottom: 310px;
    padding-top: 125px;
    background-size: 1282px 534px;
    background-repeat: no-repeat;
    background-position-y: 39%;
    background-position-x: center;
  }
}
@media screen and (min-width: 1200px) {
  .manufacture {
    background-image: url("/manufacture-bg.df35efa1.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .manufacture {
    background-image: url("/manufacture-bg@2x.8c919317.png");
  }
}

.manu__title {
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 15px;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .manu__title {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .manu__title {
    font-size: 58px;
    margin-top: 15px;
    margin-bottom: 55px;
  }
}

.manu__subtitle {
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.1666;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .manu__subtitle {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .manu__subtitle {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .manu__cow {
    display: flex;
    justify-content: space-between;
  }
}

.manu__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 46px;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .manu__text {
    width: 340px;
    font-size: 14px;
    line-height: 1.76;
    margin-top: 50px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .manu__text {
    width: 463px;
    font-size: 16px;
    margin-top: 50px;
  }
}

.manu__subtext {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #907e82;
  width: 100%;
  margin-top: 47px;
  margin-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .manu__subtext {
    font-size: 14px;
    line-height: 1.76;
    width: 340px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .manu__subtext {
    width: 463px;
    font-size: 16px;
    margin-top: 35px;
  }
}

.manu__btn {
  background: #ffffff;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d41443;
  margin-left: 30px;
}
.manu__btn:hover,
.manu__btn :active {
  background: #ecebeb;
  cursor: pointer;
}
.manu__btn::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(/bracket-right.286db275.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .manu__btn {
    margin-top: 62px;
    margin-left: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .manu__btn {
    margin-top: 45px;
  }
}

.manu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .manu__list {
    display: flex;
    justify-content: space-between;
  }
}

.manu__item {
  margin-top: 38px;
  height: 156px;
}
@media screen and (min-width: 768px) {
  .manu__item {
    margin-top: 66px;
    height: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .manu__item {
    height: 222px;
  }
}

.manu__number {
  font-family: "Titan One", cursive;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 16px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .manu__number {
    font-size: 42px;
    margin-top: 36px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .manu__number {
    font-size: 65px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

.manu__description {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6666;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .manu__description {
    font-size: 14px;
    line-height: 1.714;
    width: 180px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .manu__description {
    font-size: 16px;
    line-height: 1.5;
    width: 330px;
  }
}

.gallery {
  background-image: linear-gradient(to top, #ffffff 55%, #fff5f6 15%);
}
@media (min-width: 320px) {
  .gallery {
    background-image: linear-gradient(to top, #ffffff 51%, #fff5f6 51%);
  }
}
@media (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to top, #ffffff 53.5%, #fff5f6 53.7%);
  }
}
@media (min-width: 1200px) {
  .gallery {
    background-image: linear-gradient(to top, #ffffff 55%, #fff5f6 55%);
  }
}

.gallery-item {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .gallery-item {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .gallery-item {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .gallery-item {
    width: 1280px;
  }
}

.modal {
  position: absolute;
}

.page-footer {
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #fff5f6;
}
@media (min-width: 320px) {
  .page-footer {
    height: 321px;
  }
}
@media (min-width: 768px) {
  .page-footer {
    height: 274px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    height: 212px;
    width: auto;
    letter-spacing: 0.06em;
  }
}

.section-title {
  margin: 0;
  padding: 0;
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 320px) {
  .section-title {
    width: 234px;
    margin-bottom: 43px;
  }
}
@media (min-width: 768px) {
  .section-title {
    width: 340px;
    letter-spacing: 0.06em;
  }
}
@media (min-width: 1200px) {
  .section-title {
    width: auto;
    letter-spacing: 0.06em;
  }
}

.ul-title {
  margin: 0;
  padding: 0;
}

.homemade-text {
  text-transform: uppercase;
  color: #ffa5ba;
}
@media (min-width: 320px) {
  .homemade-text {
    font-size: 18px;
    line-height: 1.145;
    line-height: 1.66667;
    letter-spacing: 0.04em;
    padding-bottom: 17px;
  }
}
@media (min-width: 768px) {
  .homemade-text {
    font-size: 26px;
    letter-spacing: 0.04em;
    line-height: 1.154;
    padding-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .homemade-text {
    font-size: 30px;
    letter-spacing: 0.04em;
    line-height: 1.13333;
    padding-bottom: 15px;
  }
}

.passion-text {
  text-transform: uppercase;
  color: #d41443;
}
@media (min-width: 320px) {
  .passion-text {
    font-size: 34px;
    line-height: 1.1471;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 768px) {
  .passion-text {
    font-size: 48px;
    line-height: 1.1458;
    letter-spacing: 0.06em;
  }
}
@media (min-width: 1200px) {
  .passion-text {
    font-size: 58px;
    line-height: 1.137;
    letter-spacing: 0.06em;
  }
}

.container-footer {
  display: flex;
}
@media (min-width: 320px) {
  .container-footer {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .container-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .container-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.section-icon {
  text-align: right;
}

.color-tel {
  color: #d41443;
  text-decoration: none;
}

.phone {
  padding-top: 46px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
@media (min-width: 320px) {
  .phone {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .phone {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .phone {
    font-size: 16px;
  }
}

.ul-icon {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.item-icon:not(:last-child) {
  margin-right: 28px;
}

.contacts-icon-svg {
  width: 19px;
  height: 19px;
  fill: #ffffff;
}

.contacts-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FEA5BB;
  border-radius: 50%;
}
.contacts-icon-link:hover, .contacts-icon-link:focus {
  background-color: #d41443;
}
@media (min-width: 320px) {
  .contacts-icon-link {
    font-size: 34px;
  }
}
@media (min-width: 768px) {
  .contacts-icon-link {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .contacts-icon-link {
    font-size: 58px;
  }
}

.reserved {
  display: block;
  font-family: "DM Sans", sans-serif;
  color: #907e82;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  background-color: #fff5f6;
  border-top: 2px solid #e1e1e1;
  text-align: center;
}
@media (min-width: 320px) {
  .reserved {
    line-height: 89px;
  }
}
@media (min-width: 768px) {
  .reserved {
    line-height: 73px;
  }
}
@media (min-width: 1200px) {
  .reserved {
    line-height: 45px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */