@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.f-contacts-icon-link, .f-item-icon, .f-passion-text, .f-homemade-text, .modal-list, ul, .products-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.locations a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.04em;
  margin: auto;
  min-width: 300px;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-nav-list-site-nav, .site-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 1199px) {
  .site-nav {
    overflowx: hidden;
  }
}

.container-site-nav {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.logo-site-nav {
  margin-top: 6px;
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .logo-site-nav {
    margin-top: 37px;
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-site-nav {
    position: relative;
    left: -70px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 40px;
  }
}

.site-nav-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .site-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
  }
}

.link-site-nav {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  color: #ffffff;
}
.link-site-nav:hover, .link-site-nav:hover {
  color: #d41443;
}

.site-nav-item:not(:last-child) {
  margin-right: 35px;
}

.btn-site-nav {
  height: 44px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.302;
  color: #d41443;
  cursor: pointer;
}

.btn-site-nav:hover,
.btn-site-nav:focus {
  color: #d41443;
  background-color: #ecebeb;
}

.container-btn-site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 22px;
}
@media screen and (min-width: 768px) {
  .container-btn-site-nav {
    width: 186px;
  }
}

.btn-icon-site-nav {
  margin-left: 16px;
  fill: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 768px) {
  .btn-icon-site-nav {
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) {
  .btn-icon-menu-site-nav {
    margin-left: 14px;
  }
}

.close-btn-site-nav {
  display: block;
  height: 17px;
  margin-left: 208px;
  margin-top: 24px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.btn-site-nav-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .btn-site-nav-desktop {
    display: flex;
    width: 160px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }
}
.btn-site-nav.mobile {
  display: block;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 49px;
  padding-right: 49px;
}

.mobile-nav-site-nav {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  background-color: #e17992;
  width: 250px;
  height: 502px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .mobile-nav-site-nav {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .mobile-nav-site-nav {
    width: 254px;
    height: 399px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-nav-site-nav {
    display: none;
  }
}

.mobile-nav-site-nav.is-open {
  display: block;
}

.burger-menu-site-nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 23px;
  right: 1px;
  box-sizing: content-box;
  width: 20px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  padding-right: 0;
}
.burger-menu-site-nav:hover, .burger-menu-site-nav:focus {
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 768px) {
  .burger-menu-site-nav {
    top: 52px;
    right: 190px;
  }
}
@media screen and (min-width: 1200px) {
  .burger-menu-site-nav {
    display: none;
  }
}

.burger-menu-site-nav:hover,
.burger-menu-site-nav:focus {
  background-color: rgba(0, 0, 0, 0);
}

.burger-menu-site-nav .icon-true-site-nav {
  display: block;
}

.burger-menu-site-nav.is-open .icon-true-site-nav {
  display: none;
}

.burger-menu-site-nav .icon-false-site-nav {
  display: none;
}

.burger-menu-site-nav.is-open .icon-false-site-nav {
  display: block;
}

@media screen and (max-width: 1199px) {
  .burger-menu-site-nav.is-open {
    top: 24px;
    right: 34px;
    z-index: 2;
  }
}
@media screen {
  .burger-menu-site-nav.is-open {
    right: 0;
  }
}
.burger-menu-site-nav > span,
.burger-menu-site-nav > span::before,
.burger-menu-site-nav > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d41443;
}

.burger-menu-site-nav > span::before {
  content: "";
  top: -6px;
}

.burger-menu-site-nav > span::after {
  content: "";
  top: 6px;
}

.mobile-nav-list-site-nav {
  margin-top: 32px;
  margin-left: 21px;
}
@media screen and (min-width: 768px) {
  .mobile-nav-list-site-nav {
    margin-left: 24px;
  }
}

.mobile-nav-list-site-nav .site-nav-item:not(:first-child) {
  margin-top: 22px;
}

.link-mobile-site-nav {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  color: #ffffff;
}
.link-mobile-site-nav:hover, .link-mobile-site-nav:focus {
  color: #d41443;
}

.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  background-color: #ffb8ca;
}
@media screen and (max-width: 767px) {
  .hero {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 100%;
  }
}

.hero__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 502px;
  background-image: url(/ice-cream.dbf94514.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media screen and (min-width: 320px) {
  .hero__container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    width: 768px;
    height: 400px;
    background-image: url(/baby.ea28b643.png), url(/ice-cream.94078148.png), url(/milk.7a2abee1.png);
    background-position: bottom right 5%, bottom right 31%, bottom 10% left 6%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 1200px;
    height: 665px;
    background-image: url(/baby.129ecb88.png), url(/ice-cream.9cb4e14d.png), url(/milk.e65f588e.png);
    background-position: bottom right 4%, bottom right 30%, bottom 10% left 3%;
  }
}

.hero__title {
  margin: 0;
  padding-top: 193px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hero__title {
    padding-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-top: 102px;
    font-size: 22px;
    margin-left: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    padding-top: 171px;
    font-size: 38px;
    margin-left: 75px;
  }
}

.hero__title__text {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .hero__title__text {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title__text {
    font-size: 58px;
  }
}

.anchor__link {
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  padding: 0;
  padding-left: 13px;
  padding-right: 13px;
  height: 24px;
  border-radius: 20px;
  border-color: transparent;
  outline-color: white;
  background: #d41443;
  list-style: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .anchor__link {
    height: 40px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 14px;
  }
}

.anchor__link.recipe {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background: #ffffff;
  outline-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-decoration: none;
  list-style: none;
  border-color: transparent;
  color: #d41443;
  outline-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .anchor__link.recipe {
    padding-left: 17px;
    padding-right: 17px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .anchor__link.products {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .anchor__link.products {
    margin-right: 4px;
    margin-left: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .anchor__link.products {
    margin-right: 15px;
    margin-left: 75px;
  }
}

.anchor__link:hover {
  background: #c7133e;
}

.anchor__link.recipe:hover {
  background: #ecebeb;
}

.hero__text__box {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__text__box {
    display: block;
    position: absolute;
    left: 160px;
    top: 292px;
    width: 124px;
    height: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text__box {
    left: 250px;
    top: 485px;
    width: 203px;
    height: 78px;
  }
}

.svg__link {
  display: inline-block;
  position: absolute;
  content: "";
  margin-top: 8px;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  background-image: url(/arrow-right.0f2febed.jpg);
}
@media screen and (min-width: 1200px) {
  .svg__link {
    width: 26px;
    height: 26px;
    margin-top: 20px;
    background-image: url(/arrow-right.7a9f24fa.jpg);
  }
}

.hero__text {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__text.cafe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  position: absolute;
  width: 43px;
  height: 44px;
  left: 680px;
  top: 94px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (max-width: 767px) {
  .hero__text.cafe {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text.cafe {
    width: 72px;
    height: 77px;
    left: 1055px;
    top: 156px;
    font-size: 46px;
    line-height: 53px;
  }
}

.hero__text.truck {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
  justify-content: right;
  position: absolute;
  width: 56px;
  height: 43px;
  left: 674px;
  top: 151px;
  margin-top: 13px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (max-width: 767px) {
  .hero__text.truck {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text.truck {
    width: 96px;
    height: 76px;
    left: 1038px;
    top: 248px;
    margin-top: 21px;
    font-size: 46px;
    line-height: 53px;
  }
}

.hero__text.cafe::before {
  display: inline-block;
  position: relative;
  content: "";
  top: 13px;
  left: 9px;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  z-index: -1;
  background-image: url(/circle.d528f0a7.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__text.cafe::before {
    left: 15px;
    top: 22px;
    width: 30px;
    height: 30px;
  }
}

.hero__text.truck::before {
  display: inline-block;
  position: relative;
  content: "";
  left: 45px;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  z-index: -1;
  background-image: url(/circle.d528f0a7.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__text.truck::before {
    left: 77px;
    bottom: 5px;
    right: 15px;
    width: 30px;
    height: 30px;
  }
}

.hero__span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__span {
    font-size: 14px;
  }
}

.container-products {
  background-color: #ffffff;
  padding-top: 121px;
  padding-bottom: 98px;
}
@media screen and (min-width: 768px) {
  .container-products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .container-products {
    padding-top: 127px;
    padding-bottom: 119px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.products-slogan {
  font-family: Titan One;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .products-slogan {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .products-slogan {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-title {
  margin-top: 0;
  margin-bottom: 144px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .products-title {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
  }
}

.products-gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  padding-top: 161px;
  padding-bottom: 41px;
  background-color: #ffb8ca;
  color: #ffffff;
  border-radius: 24px;
  padding-left: 41px;
  padding-right: 39px;
}
.products-gallery:not(:last-child) {
  margin-bottom: 129px;
}
@media screen and (min-width: 768px) {
  .products-gallery {
    width: calc((100% - 20px) / 3);
    margin-bottom: 0;
    padding-top: 152px;
    padding-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .products-gallery:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .products-gallery {
    width: calc((100% - 30px) / 3);
    margin-bottom: 0;
    padding-top: 163px;
    padding-bottom: 50px;
    padding-left: 44px;
    padding-right: 44px;
  }
  .products-gallery:not(:last-child) {
    margin-right: 30px;
  }
}

.products-one {
  background-color: #ffb8ca;
}

.products-two {
  background-color: #f0d1a5;
}

.products-three {
  background-color: #c2e297;
}

.products-foto {
  position: absolute;
  width: 249px;
  height: 252px;
  top: -113px;
  right: 15px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .products-foto {
    width: auto;
    right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .products-foto-first {
    height: 226px;
    top: -104px;
  }

  .products-foto-second {
    height: 233px;
    top: -111px;
  }

  .products-foto-third {
    height: 224px;
    top: -102px;
  }
}
@media screen and (min-width: 1200px) {
  .products-foto-first {
    width: 335px;
    height: 335px;
    top: -210px;
    right: -5px;
  }

  .products-foto-second {
    width: 337px;
    height: 335px;
    top: -210px;
    right: -5px;
  }

  .products-foto-third {
    width: 335px;
    height: 335px;
    top: -210px;
    right: -5px;
  }
}
.products-gallery-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .products-gallery-title {
    margin-bottom: 30px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .products-gallery-title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 32px;
  }
}

.products-gallery-text {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .products-gallery-text {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .products-gallery-text-short {
    display: none;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .products-gallery-text-short {
    margin: 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .products-gallery-text-short {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0.04em;
  }
}
.products-link {
  background-image: url(/arrow-right.18b41481.jpg);
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.products-link:hover, .products-link:focus {
  border: 1px solid #d41443;
  outline: 1px #d41443;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .products-link {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .products-link {
    margin-top: 62px;
  }
}

.products-ellipsis {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .products-ellipsis {
    margin-bottom: 32px;
  }
}

.products-circle {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  text-align: center;
}
.products-circle:not(:last-child) {
  margin-right: 4px;
}

.manufacture {
  background-color: #fff5f6;
  background-image: url(/manufacture-bg.1b3475d8.png);
  background-size: 320px 133px;
  background-repeat: no-repeat;
  background-position-y: 49.4%;
  background-position-x: center;
  padding-bottom: 97px;
  padding-top: 125px;
}
@media screen and (min-width: 768px) {
  .manufacture {
    background-image: none;
    padding-bottom: 140px;
    padding-top: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .manufacture {
    padding-bottom: 139px;
    padding-top: 125px;
    background-size: 1282px 534px;
    background-repeat: no-repeat;
    background-position-y: 39%;
    background-position-x: center;
  }
}
@media screen and (min-width: 1200px) {
  .manufacture {
    background-image: url("/manufacture-bg.df35efa1.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .manufacture {
    background-image: url("/manufacture-bg@2x.8c919317.png");
  }
}

.manu__title {
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 15px;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .manu__title {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .manu__title {
    font-size: 58px;
    margin-top: 15px;
    margin-bottom: 55px;
  }
}

.manu__subtitle {
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.1666;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .manu__subtitle {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .manu__subtitle {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .manu__cow {
    display: flex;
    justify-content: space-between;
  }
}

.manu__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 46px;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .manu__text {
    width: 340px;
    font-size: 14px;
    line-height: 1.76;
    margin-top: 50px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .manu__text {
    width: 463px;
    font-size: 16px;
    margin-top: 50px;
  }
}

.manu__subtext {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #907e82;
  width: 100%;
  margin-top: 47px;
  margin-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .manu__subtext {
    font-size: 14px;
    line-height: 1.6;
    width: 340px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .manu__subtext {
    width: 463px;
    font-size: 16px;
    margin-top: 35px;
    line-height: 1.76;
  }
}

.manu__btn {
  background: #ffffff;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d41443;
  margin-left: 30px;
}
.manu__btn:hover,
.manu__btn :active {
  background: #ecebeb;
  cursor: pointer;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.manu__btn::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(/bracket-right.286db275.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .manu__btn {
    margin-top: 62px;
    margin-left: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .manu__btn {
    margin-top: 45px;
  }
}

.manu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .manu__list {
    display: flex;
    justify-content: space-between;
  }
}

.manu__item {
  margin-top: 38px;
  height: 156px;
}
@media screen and (min-width: 768px) {
  .manu__item {
    margin-top: 66px;
    height: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .manu__item {
    height: 222px;
  }
}

.manu__number {
  font-family: "Titan One", cursive;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 16px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .manu__number {
    font-size: 42px;
    margin-top: 36px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .manu__number {
    font-size: 65px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

.manu__description {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6666;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .manu__description {
    font-size: 14px;
    line-height: 1.714;
    width: 180px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .manu__description {
    font-size: 16px;
    line-height: 1.5;
    width: 330px;
  }
}

.gallery {
  background-image: linear-gradient(to top, #ffffff 59%, #fff9f7 61%, #fff5f6 62%);
}
@media (min-width: 320px) {
  .gallery {
    background-image: linear-gradient(to top, #ffffff 59%, #fff9f7 62%, #fff5f6 65%);
  }
}
@media (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to top, #ffffff 59%, #fff9f7 60%, #fff5f6 62%);
  }
}
@media (min-width: 1200px) {
  .gallery {
    background-image: linear-gradient(to top, #ffffff 59%, #fff9f7 60%, #fff5f6 62%);
  }
}

.gallery-item {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .gallery-item {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .gallery-item {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .gallery-item {
    width: 1280px;
  }
}

.comments-container {
  padding-top: 80px;
  padding-bottom: 50px;
  user-select: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comments-container {
    padding-top: 121px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .comments-container {
    padding-top: 121px;
    padding-right: 0;
    padding-left: 0;
  }
}

.comments-slider {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  .comments-slider {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comments-slider {
    width: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .comments-slider {
    width: 926px;
  }
}

.comment-slider-item {
  outline: 1px solid transparent;
  display: inline-block;
}

.comments-slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  line-height: 0;
}

.comments-slick-dots li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  cursor: pointer;
}
.comments-slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.comments-slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.comments-slick-dots li button:hover,
.comments-slick-dots li button:focus {
  outline: none;
}

.comments-slick-dots li button:hover:before,
.comments-slick-dots li button:focus:before {
  opacity: 1;
}

.comments-slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  content: "";
  background: url("/circle-home.bbc7d7ea.svg");
  background-repeat: no-repeat;
}

.comments-slick-dots li.slick-active button:before {
  width: 13px;
  height: 12px;
  background: url("/home.f1c4a4e0.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.comments-foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.comment-text-container {
  position: relative;
  z-index: -2;
  background-color: #FDFDFD;
}
@media screen and (max-width: 767px) {
  .comment-text-container {
    margin-top: 29px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comment-text-container {
    margin-top: 18px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .comment-text-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.comment-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .comment-text {
    padding: 40px 50px 20px 50px;
    font-size: 12px;
    line-height: 2.5;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comment-text {
    padding-top: 50px;
    padding-bottom: 28px;
    padding-right: 36px;
    padding-left: 60px;
    font-size: 14px;
    line-height: 2;
  }
}
@media screen and (min-width: 1200px) {
  .comment-text {
    padding: 47px 89px 29px 67px;
    font-size: 16px;
    line-height: 1.875;
  }
}

.comment-text-tablet {
  width: 544px;
}

.comment-text-desktop {
  width: 813px;
}

.comment-dekor {
  position: absolute;
  display: block;
  top: 28px;
  left: 61px;
  z-index: -1;
  width: 54px;
  height: 40px;
  background-image: url("/slick-bg.7ca40396.svg");
  fill: #e1e1e1;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comment-dekor {
    top: 20%;
    left: 8%;
  }
}
@media screen and (min-width: 1200px) {
  .comment-dekor {
    top: 22%;
  }
}

@media screen and (max-width: 767px) {
  .comment-text-desktop,
.comment-text-tablet {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .comment-text-mobile,
.comment-text-tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comment-text-mobile,
.comment-text-desktop {
    display: none;
  }
}
.comment-dekorline {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  max-width: 180px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comment-dekorline {
    max-width: 524px;
  }
}
@media screen and (min-width: 1200px) {
  .comment-dekorline {
    max-width: 813px;
  }
}

.comment-dots {
  display: flex;
  justify-content: center;
}
.comment-dots .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;
}
.comment-dots .dot + .dot {
  margin-left: 10px;
}

.comment-local {
  margin-top: 18px;
  margin-bottom: 30px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.04em;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comment-local {
    margin-top: 14px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.59;
  }
}
@media screen and (min-width: 1200px) {
  .comment-local {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.59;
  }
}

.locations h3,
p {
  margin: 0px;
}

.locations {
  background-color: #fff5f6;
  padding-top: 36px;
  padding-bottom: 113px;
  background: linear-gradient(180deg, #ffffff 10%, #fff5f6 0);
}

@media screen and (min-width: 768px) {
  .locations {
    padding-top: 69px;
    padding-bottom: 158px;
    background: linear-gradient(180deg, #ffffff 18%, #fff5f6 0);
  }
}
@media screen and (min-width: 1200px) {
  .locations {
    padding-top: 82px;
    padding-bottom: 165px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 31%;
    background-color: #fff5f6;
    background-image: url("/locations-bg.50b0968c.png"), linear-gradient(180deg, #ffffff 19%, #fff5f6 0);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .locations {
    background-image: url("/locations-bg@2x.9ea3a496.png"), linear-gradient(180deg, #ffffff 19%, #fff5f6 0);
  }
}
@media screen and (min-width: 768px) {
  .locations-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.locations-card-item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .locations-card-item {
    width: 220px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 43px 21px 43px 20px;
  }
  .locations-card-item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .locations-card-item {
    flex-basis: calc((100% - 40px) / 3);
    margin-right: 20px;
    padding: 50px 32px 50px 31px;
  }
  .locations-card-item:last-child {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .locations-card-item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    padding: 51px 44px 62px 43px;
  }
  .locations-card-item:last-child {
    margin-right: 0px;
  }
}
.locations-restaurant {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  text-transform: uppercase;
  min-width: 80px;
  margin-bottom: 25px;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
}
.locations-restaurant.locations-ftruck {
  background-color: #c2e297;
  min-width: 130px;
}

@media screen and (max-width: 767px) {
  .locations-restaurant {
    height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .locations-restaurant {
    font-size: 16px;
    display: inline-flex;
    margin-bottom: 28px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 73px;
    height: 28px;
  }
  .locations-restaurant.locations-ftruck {
    min-width: 138px;
  }
}
.locations-card-item h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .locations-card-item h3 {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .locations-card-item h3 {
    font-size: 16px;
  }
}
.locations-card-item > h3 {
  margin-bottom: 10px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .locations-card-item > h3 {
    margin-bottom: 14px;
  }
}
.locations-description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #907e82;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .locations-description {
    font-size: 14px;
    line-height: 1.66;
    letter-spacing: 0.04em;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .locations-description {
    font-size: 16px;
    line-height: 1.83;
    padding-bottom: 31px;
    margin-bottom: 24px;
    letter-spacing: 0.02em;
  }
}
.locations-card-item .locations-workdays {
  margin-bottom: -2px;
}

.locations-worktime {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .locations-worktime {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .locations-worktime {
    font-size: 16px;
  }
}
.locations-work-list {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .locations-work-list {
    padding-bottom: 29px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .locations-work-list {
    padding-bottom: 31px;
    margin-bottom: 32px;
  }
}
.locations-work-list > li:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .locations-work-list > li:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .locations-work-list > li:not(:last-child) {
    margin-bottom: 15px;
  }
}
.locations-contact-list a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .locations-contact-list a {
    font-size: 14px;
    line-height: 1.83;
  }
}
@media screen and (min-width: 1200px) {
  .locations-contact-list a {
    font-size: 16px;
  }
}
.locations-button-group {
  text-align: center;
  margin-top: 54px;
}

@media screen and (min-width: 768px) {
  .locations-button-group {
    display: flex;
    justify-content: center;
    margin-top: 81px;
  }
}
@media screen and (min-width: 1200px) {
  .locations-button-group {
    margin-top: 86px;
  }
}
.locations-button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  width: 161.45px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d41342;
  border-radius: 22px;
  border: none;
}
.locations-button:not(:last-child) {
  margin-bottom: 10px;
}
.locations-button.locations-franchise {
  background-color: #ffffff;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .locations-button {
    margin: 0px;
  }
  .locations-button:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
.location-button-icon {
  fill: #ffffff;
  width: 8px;
  height: 10px;
  margin-left: 8px;
}
.location-button-icon.location-button-iconfr {
  margin-left: 13px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 24px;
  background-color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 637px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 690px;
  }
}

.backdrop {
  z-index: 2000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.title-modal {
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .title-modal {
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .title-modal {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.modal-product-item {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 24px;
}

.icecream-item {
  background-color: #ffb8ca;
}

.icecoffee-item {
  background-color: #f0d1a5;
}

.milkshakes-item {
  background-color: #c2e297;
}

.title-modal-product {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.label-modal {
  display: block;
}

.input-modal {
  display: block;
}

.modal-form-container {
  margin-left: 50px;
  margin-bottom: 10px;
}

.label-modal {
  color: #ffffff;
  margin-bottom: 5px;
}

.close-btn {
  position: absolute;
  display: inline-block;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  /* border: 0; */
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  fill: #d41443;
}
.close-btn:hover .close-icon {
  fill: #ecebeb;
}

.close-icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 18px;
}

.price {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.border-line {
  border-top: 1px solid #e1e1e1;
}

.modal-button-pay {
  display: inline-block;
  width: 80%;
  height: 50px;
  display: block;
  background: #d41342;
  border-radius: 22px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.modal-pay-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.page-footer {
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #fff5f6;
}
@media (min-width: 320px) {
  .page-footer {
    height: 321px;
  }
}
@media (min-width: 768px) {
  .page-footer {
    height: 274px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    height: 212px;
    width: auto;
    letter-spacing: 0.06em;
  }
}

.f-section-title {
  margin: 0;
  padding: 0;
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 320px) {
  .f-section-title {
    width: 234px;
    margin-bottom: 43px;
  }
}
@media (min-width: 768px) {
  .f-section-title {
    width: 340px;
    letter-spacing: 0.06em;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .f-section-title {
    width: auto;
    letter-spacing: 0.06em;
    margin-bottom: 0;
  }
}

.f-ul-title {
  margin: 0;
  padding: 0;
}

.f-homemade-text {
  text-transform: uppercase;
  color: #ffa5ba;
}
@media (min-width: 320px) {
  .f-homemade-text {
    font-size: 18px;
    line-height: 1.66667;
    line-height: 1.145;
    margin-bottom: 17px;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 768px) {
  .f-homemade-text {
    font-size: 26px;
    line-height: 1.145;
    margin-bottom: 16px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .f-homemade-text {
    font-size: 30px;
    line-height: 1.145;
    margin-bottom: 15px;
    letter-spacing: 0.04em;
  }
}

.f-passion-text {
  line-height: 1.145;
  text-transform: uppercase;
  color: #d41443;
}
@media (min-width: 320px) {
  .f-passion-text {
    font-size: 34px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 768px) {
  .f-passion-text {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}
@media (min-width: 1200px) {
  .f-passion-text {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.f-container-footer {
  display: flex;
}
@media (min-width: 320px) {
  .f-container-footer {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .f-container-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .f-container-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.f-section-icon {
  text-align: right;
}

.f-color-tel {
  color: #d41443;
  text-decoration: none;
}

.f-phone {
  display: inline-block;
  margin-top: 46px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.86;
}
@media (min-width: 320px) {
  .f-phone {
    font-size: 12px;
    letter-spacing: 0.001em;
  }
}
@media (min-width: 768px) {
  .f-phone {
    font-size: 14px;
    letter-spacing: 0.001em;
  }
}
@media (min-width: 1200px) {
  .f-phone {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.f-ul-icon {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.f-item-icon:last-child {
  margin-left: 25px;
}
.f-item-icon:first-child {
  margin-right: 24px;
}

.f-contacts-icon-svg {
  width: 19px;
  height: 19px;
  fill: #ffffff;
}

.f-contacts-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.f-contacts-icon-link:hover, .f-contacts-icon-link:focus {
  background-color: #d41443;
}
@media (min-width: 320px) {
  .f-contacts-icon-link {
    font-size: 34px;
  }
}
@media (min-width: 768px) {
  .f-contacts-icon-link {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .f-contacts-icon-link {
    font-size: 58px;
  }
}

.f-section-reserved {
  display: flex;
  background-color: #fff5f6;
  border-top: 1px solid #e1e1e1;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) {
  .f-section-reserved {
    height: 89px;
    line-height: 1.52;
  }
}
@media (min-width: 768px) {
  .f-section-reserved {
    height: 73px;
    line-height: 1.86;
  }
}
@media (min-width: 1200px) {
  .f-section-reserved {
    height: 45px;
    line-height: 1.86;
  }
}

.f-reserved {
  font-family: "DM Sans", sans-serif;
  color: #907e82;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: #fff5f6;
  text-align: center;
}
@media (min-width: 320px) {
  .f-reserved {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .f-reserved {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .f-reserved {
    width: 100%;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 24px;
  background-color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 637px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 690px;
  }
}

.backdrop {
  z-index: 2000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.title-modal {
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .title-modal {
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .title-modal {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.modal-product-item {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 24px;
}

.icecream-item {
  background-color: #ffb8ca;
}

.icecoffee-item {
  background-color: #f0d1a5;
}

.milkshakes-item {
  background-color: #c2e297;
}

.title-modal-product {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.label-modal {
  display: block;
}

.input-modal {
  display: block;
}

.modal-form-container {
  margin-left: 50px;
  margin-bottom: 10px;
}

.label-modal {
  color: #ffffff;
  margin-bottom: 5px;
}

.close-btn {
  position: absolute;
  display: inline-block;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  /* border: 0; */
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  fill: #d41443;
}
.close-btn:hover .close-icon {
  fill: #ecebeb;
}

.close-icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 18px;
}

.price {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.border-line {
  border-top: 1px solid #e1e1e1;
}

.modal-button-pay {
  display: inline-block;
  width: 80%;
  height: 50px;
  display: block;
  background: #d41342;
  border-radius: 22px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.modal-pay-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */