<section class="locations">
  <div class="container">
    <h2 class="visually-hidden">Найдите нас</h2>
    <div class="locations-card">
      <ul class="locations-card-list">
        <li class="locations-card-item">
          <span class="locations-restaurant">CAFE</span>
          <h3 class="locations-title">Chicago</h3>
          <p class="locations-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul>
            <li>
              <h3 class="locations-workdays">Monday - Friday</h3>
              <time class="locations-worktime">06:00 AM - 10:00 PM</time>
            </li>
            <li>
              <h3 class="locations-workdays">Saturday - Sunday</h3>
              <time class="locations-worktime">08:00 AM - 16:00 PM</time>
            </li>
          </ul>
          <ul>
            <li><a href="tel:+61(0)383766284">+61(0) 383 766 284 </a></li>
            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
        <li class="locations-card-item">
          <span class="locations-restaurant locations-ftruck">FOOD TRUCK</span>
          <h3 class="locations-title">Los Angeles</h3>
          <p class="locations-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul>
            <li>
              <h3 class="locations-workdays">Monday - Friday</h3>
              <time class="locations-worktime">06:00 AM - 10:00 PM</time>
            </li>
            <li>
              <h3 class="locations-workdays">Saturday - Sunday</h3>
              <time class="locations-worktime">08:00 AM - 16:00 PM</time>
            </li>
          </ul>
          <ul>
            <li><a href="tel:+61(0)383766284">+61(0) 383 766 284 </a></li>
            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
        <li class="locations-card-item">
          <span class="locations-restaurant">CAFE</span>
          <h3 class="locations-title">New York</h3>
          <p class="locations-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul>
            <li>
              <h3 class="locations-workdays">Monday - Friday</h3>
              <time class="locations-worktime">06:00 AM - 10:00 PM</time>
            </li>
            <li>
              <h3 class="locations-workdays">Saturday - Sunday</h3>
              <time class="locations-worktime">08:00 AM - 16:00 PM</time>
            </li>
          </ul>
          <ul>
            <li><a href="tel:+61(0)383766284">+61(0) 383 766 284 </a></li>
            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="locations-button-group">
      <button type="button" class="locatin-button"></button>
      <button
        type="button"
        class="locations-button locations-franchise"
      ></button>
    </div>
    <!-- Ваш код здесь -->
  </div>
</section>

<!--  образец вставки контентного изображения
  <picture>
  <source
    srcset="
      ./images/products/mobile/product-1.webp    1x,
      ./images/products/mobile/product-1@2x.webp 2x
    "
    media="(min-width: 320px) and (max-width: 767px)"
    type="image/webp"
  />
  <source
    srcset="
      ./images/products/tablet/product-1.webp    1x,
      ./images/products/tablet/product-1@2x.webp 2x
    "
    media="(min-width: 768px) and (max-width: 1199px)"
    type="image/webp"
  />
  <source
    srcset="
      ./images/products/desktop/product-1.webp    1x,
      ./images/products/desktop/product-1@2x.webp 2x
    "
    media="(min-width: 1200px)"
    type="image/webp"
  />
  <source
    srcset="
      ./images/products/mobile/product-1.png    1x,
      ./images/products/mobile/product-1@2x.png 2x
    "
    media="(min-width: 320px) and (max-width: 767px)"
  />
  <source
    srcset="
      ./images/products/tablet/product-1.png    1x,
      ./images/products/tablet/product-1@2x.png 2x
    "
    media="(min-width: 768px) and (max-width: 1199px)"
  />
  <source
    srcset="
      ./images/products/desktop/product-1.png    1x,
      ./images/products/desktop/product-1@2x.png 2x
    "
    media="(min-width: 1200px)"
  />
  <img
    class=""
    srcset="
      ./images/products/mobile/product-1.png    1x,
      ./images/products/mobile/product-1@2x.png 2x
    "
    src="./images/products/mobile/product-1.png"
    alt="Описание"
  />
</picture> -->
