<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <!-- Ваш код здесь -->
    <h2 class="title-modal">your order</h2>
    <ul class="modal-list">
      <li class="modal-product-item icecream-item">
        <form>
          <div class="modal-form-container">
            <input
              class="input-modal-checkbox"
              type="checkbox"
              name="ice-cream"
              id="ice-cream"
            />
            <label for="ice-cream"
              ><span class="title-modal-product">ice cream</span></label
            >
          </div>
          <div class="modal-form-container">
            <label for="amount-icecream" class="label-modal">Amount</label>
            <input
              type="number"
              class="input-modal"
              name="amount-icecream"
              id="amount-icecream"
              placeholder="1"
            />
          </div>
        </form>
      </li>

      <li class="modal-product-item icecoffee-item">
        <form>
          <div class="modal-form-container">
            <input
              class="input-modal-checkbox"
              type="checkbox"
              name="ice-coffee"
              id="ice-coffee"
            />
            <label for="ice-coffee"
              ><span class="title-modal-product">ice coffee</span></label
            >
          </div>
          <div class="modal-form-container">
            <label for="amount-icecoffee" class="label-modal">Amount</label>
            <input
              type="number"
              class="input-modal"
              name="amount-icecoffee"
              id="amount-icecoffee"
              placeholder="1"
            />
          </div>
        </form>
      </li>
      <li class="modal-product-item milkshakes-item">
        <form>
          <div class="modal-form-container">
            <input
              class="input-modal-checkbox"
              type="checkbox"
              name="milkshakes"
              id="milkshakes"
            />
            <label for="milkshakes"
              ><span class="title-modal-product">milkshakes</span></label
            >
          </div>
          <div class="modal-form-container">
            <label for="amount-milkshakes" class="label-modal">Amount</label>
            <input
              type="number"
              class="input-modal"
              name="amount-milkshakes"
              id="amount-milkshakes"
              placeholder="1"
            />
          </div>
        </form>
      </li>
    </ul>
    <div class="border-line"></div>
    <div class="price">
      <b>Price:</b>
      <span>0$</span>
    </div>
    <button class="modal-button-pay">
      <span class="modal-pay-text">pay</span>
    </button>

    <button class="close-btn" data-modal-close>
      <svg class="close-icon">
        <use href="../src/images/svg/sprite.svg#icon-circle"></use>
      </svg>
    </button>
  </div>
</div>
