<footer class="page-footer" id="page-footer">
  <div class="container">
    <!-- Основной блок с текстом и иконками.
      Содержит в себе 2 блока, которые меняют расположение
      в зависимости от размера вьюпорта-->
    <div class="f-container-footer">
      <!-- Блок: текст -->
      <div class="f-section-title">
        <ul class="f-ul-title">
          <li class="f-homemade-text">homemade ice cream made</li>
          <li class="f-passion-text">with passion</li>
        </ul>
      </div>
      <!-- Блок: иконки и подпись -->
      <div class="f-section-icon">
        <div>
          <ul class="f-ul-icon">
            <li class="f-item-icon">
              <a class="f-contacts-icon-link" href="https://github.com/" target="_blank" rel="noopener noreferrer"
                aria-label="github.com">
                <span class="visually-hidden">github</span>
                <svg class="f-contacts-icon-svg">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="f-item-icon">
              <a class="f-contacts-icon-link" href="https://t.me/frontend_info" target="_blank"
                rel="noopener noreferrer" aria-label="Telegram.org">
                <span class="visually-hidden">telegram</span>
                <svg class="f-contacts-icon-svg">
                  <use href="./images/svg/sprite.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="f-item-icon">
              <a class="f-contacts-icon-link" href="https://facebook.com/" target="_blank" rel="noopener noreferrer"
                aria-label="facebook.com">
                <span class="visually-hidden">facebook</span>
                <svg class="f-contacts-icon-svg">
                  <use href="./images/svg/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="f-phone">
          <span>Feel free to contact</span>
          <a class="f-color-tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
    <!-- Подпись футера -->
  </div>
  <div class="f-section-reserved">
    <div class="f-reserved">© 2019 - IceCream. All Rights Reserved.</div>
  </div>
</footer>